### Approach:
1. **Read the Input Data**: Loaded the input CSV file using pandas.
2. **Preprocessing**: Sorted the data by 'Employee Code' and 'Date of Joining'.
3. **Iterate Through Records**: Processed each record iteratively, deriving effective and end dates, and transforming the data into the desired format.
4. **Write to Output File**: Saved the transformed data into a new CSV file.

In [20]:
#importing Libraries

import numpy as np
import pandas as pd

In [19]:
# Loading the CSV file

df = pd.read_csv("C:/Users/Saptarag Kashyap/Downloads/input.csv", header=0)

In [4]:
df.head()

,Employee Code,Manager Employee Code,Date of Joining,Date of Exit,Compensation,Compensation 1,Compensation 1 date,Compensation 2,Compensation 2 date,Review 1,Review 1 date,Review 2,Review 2 date,Engagement 1,Engagement 1 date,Engagement 2,Engagement 2 date
0,1,NaN,2021-01-01,NaN,20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.0,2021-01-01,NaN,20000,10000.0,2022-01-01,20000.0,2023-01-01,9.0,2021-06-01,9.5,2022-06-01,4.0,2021-03-01,5.0,2022-03-01
2,3,1.0,2021-01-01,2023-12-31,20000,10000.0,2022-01-01,20000.0,2023-01-01,9.0,2021-06-01,9.5,2022-06-01,4.0,2021-03-01,5.0,2022-03-01

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee Code          3 non-null      int64
 1   Manager Employee Code  2 non-null      float64
 2   Date of Joining        3 non-null      object
 3   Date of Exit           1 non-null      object
 4   Compensation           3 non-null      int64
 5   Compensation 1         2 non-null      float64
 6   Compensation 1 date    2 non-null      object
 7   Compensation 2         2 non-null      float64
 8   Compensation 2 date    2 non-null      object
 9   Review 1               2 non-null      float64
 10  Review 1 date          2 non-null      object
 11  Review 2               2 non-null      float64
 12  Review 2 date          2 non-null      object
 13  Engagement 1           2 non-null      float64
 14  Engagement 1 date      2 non-null      object
 15  Engagement 2           2 non-null      float64
 16  Engagement 2 date      2 non-null      object
dtypes: float64(7), int64(2), object(8)
memory usage: 540.0+ bytes

In [6]:
df.describe

<bound method NDFrame.describe of    Employee Code  Manager Employee Code Date of Joining Date of Exit  \
0              1                    NaN      2021-01-01          NaN
1              2                    1.0      2021-01-01          NaN
2              3                    1.0      2021-01-01   2023-12-31

   Compensation  Compensation 1 Compensation 1 date  Compensation 2  \
0         20000             NaN                 NaN             NaN
1         20000         10000.0          2022-01-01         20000.0
2         20000         10000.0          2022-01-01         20000.0

  Compensation 2 date  Review 1 Review 1 date  Review 2 Review 2 date  \
0                 NaN       NaN           NaN       NaN           NaN
1          2023-01-01       9.0    2021-06-01       9.5    2022-06-01
2          2023-01-01       9.0    2021-06-01       9.5    2022-06-01

   Engagement 1 Engagement 1 date  Engagement 2 Engagement 2 date
0           NaN               NaN           NaN               NaN
1           4.0        2021-03-01           5.0        2022-03-01
2           4.0        2021-03-01           5.0        2022-03-01  >

In [8]:
# Sort the data by 'Employee Code' and 'Date of Joining'
df.sort_values(by=['Employee Code', 'Date of Joining'], inplace=True)

# Display the sorted data
print("\nSorted Input Data:")
print(df.head())

Sorted Input Data:
   Employee Code  Manager Employee Code Date of Joining Date of Exit  \
0              1                    NaN      2021-01-01          NaN
1              2                    1.0      2021-01-01          NaN
2              3                    1.0      2021-01-01   2023-12-31

   Compensation  Compensation 1 Compensation 1 date  Compensation 2  \
0         20000             NaN                 NaN             NaN
1         20000         10000.0          2022-01-01         20000.0
2         20000         10000.0          2022-01-01         20000.0

  Compensation 2 date  Review 1 Review 1 date  Review 2 Review 2 date  \
0                 NaN       NaN           NaN       NaN           NaN
1          2023-01-01       9.0    2021-06-01       9.5    2022-06-01
2          2023-01-01       9.0    2021-06-01       9.5    2022-06-01

   Engagement 1 Engagement 1 date  Engagement 2 Engagement 2 date
0           NaN               NaN           NaN               NaN
1           4.0        2021-03-01           5.0        2022-03-01
2           4.0        2021-03-01           5.0        2022-03-01

In [9]:
prev_compensation = {}
prev_review = {}
prev_engagement = {}

In [10]:
transformed_data = []

In [13]:
for index, row in df.iterrows():
    employee_code = row['Employee Code']
    
    # Process compensation data
    compensation = prev_compensation.get(employee_code, row['Compensation'])
    prev_compensation[employee_code] = row['Compensation']
    
    # Process review data
    review = prev_review.get(employee_code, row['Review 1'])
    prev_review[employee_code] = row['Review 1']
    
    # Process engagement data
    engagement = prev_engagement.get(employee_code, row['Engagement 1'])
    prev_engagement[employee_code] = row['Engagement 1']
    
    # Derive effective and end dates
    effective_date = row['Date of Joining']
    end_date = df.loc[index + 1, 'Date of Joining'] if index < len(df) - 1 else '2100-01-01'
    end_date = pd.to_datetime(end_date) - pd.Timedelta(days=1)
    
    # Append the transformed record to the list
    transformed_data.append({
        'Employee Code': employee_code,
        'Manager Employee Code': row['Manager Employee Code'],
        'Last Compensation': prev_compensation.get(employee_code, ''),
        'Compensation': compensation,
        'Last Pay Raise Date': row['Compensation 2 date'],
        'Variable Pay': '',
        'Tenure in Org': '',
        'Performance Rating': review,
        'Engagement Score': engagement,
        'Effective Date': effective_date,
        'End Date': end_date.strftime('%Y-%m-%d')
    })

In [14]:
transformed_df = pd.DataFrame(transformed_data)

# Display the transformed data
print("\nTransformed Data:")
print(transformed_df)

Transformed Data:
   Employee Code  Manager Employee Code  Last Compensation  Compensation  \
0              1                    NaN              20000         20000
1              2                    1.0              20000         20000
2              3                    1.0              20000         20000
3              1                    NaN              20000         20000
4              2                    1.0              20000         20000
5              3                    1.0              20000         20000

  Last Pay Raise Date Variable Pay Tenure in Org  Performance Rating  \
0                 NaN                                            NaN
1          2023-01-01                                            9.0
2          2023-01-01                                            9.0
3                 NaN                                            NaN
4          2023-01-01                                            9.0
5          2023-01-01                                            9.0

   Engagement Score Effective Date    End Date
0               NaN     2021-01-01  2020-12-31
1               4.0     2021-01-01  2020-12-31
2               4.0     2021-01-01  2099-12-31
3               NaN     2021-01-01  2020-12-31
4               4.0     2021-01-01  2020-12-31
5               4.0     2021-01-01  2099-12-31

In [17]:
pwd

'C:\\Users\\Saptarag Kashyap'

In [18]:
# Write the transformed data to a new CSV file in the specified directory
transformed_df.to_csv('C:\\Users\\Saptarag Kashyap\\output_data.csv', index=False)

print("\nOutput file 'output_data.csv' has been created successfully in the directory 'C:\\Users\\Saptarag Kashyap'.")

Output file 'output_data.csv' has been created successfully in the directory 'C:\Users\Saptarag Kashyap'.